table {
  text-align: center;
}

th, td {
  padding: 10px;
}

th {
  background: yellowgreen
}

td:nth-child(odd) {
  color: red;
  background: black
}

td:last-child {
  background: blue
}

.second-column {
  background: pink
}

.complex {
  caption-side: bottom
}