body {
  text-align: center
}

.lists {
  text-align: left
}

table {
  text-align: center;
}

table#center {
  margin-left: auto;
  margin-right: auto
}

th, td {
  padding: 10px;
}

th {
  background: yellowgreen
}

table.simple tr:nth-child(2n+1) {
  background: burlywood
}

table.simple tr:nth-child(2n+0) {
  background: cyan
}

table.complex td:nth-child(odd) {
  color: red;
  background: black
}

table.complex td:last-child {
  background: blue
}

.second-column {
  background: pink
}

.complex {
  caption-side: bottom;
}

.eight-percent {
  background: "2309.jpg"
}